<section class="dark:bg-cream-100 bg-cocoa-100 px-8 py-16">
  <div class="mx-auto max-w-screen-lg">
  <div class="flex flex-col sm:flex-row gap-8 items-center">
    <div class="flex-1">
      <div class="space-y-4">
        <h2 class="text-center sm:text-left text-3xl font-serif font-bold dark:text-cocoa-800 text-balance">Elevate Your Special Moments</h2>

      <p>
  Transform any celebration into an unforgettable experience with our handcrafted brigadeiros and fine Brazilian sweets. From intimate gatherings to grand occasions, customize your gift box with your preferred selection and size.
      </p>

      <h3 class="text-center sm:text-left text-lg font-semibold dark:text-cocoa-950">Create Your Perfect Gift</h3>

      <p>Whether it's 4, 12, or 24 pieces, each box tells a story of exquisite flavors and artisanal care. Ready to discover our signature collections?</p>

      <div class="text-center sm:text-left">
        <a class="dark:bg-cream-800 p-2 inline-block rounded-md dark:text-white" href="/products/box-sets">explore_our_gift_sets</a>
      </div>
      </div>
    </div>

    <div class=":w-2/5">
      <img src="/brigadeiros-box-set.png" alt="box set brigadeiros">
    </div>
  </div>
</div>

</section>