---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Perfect Bite - Brigadeiros">
	<div class="m-4 flex items-center justify-center">
		<main class="">
			<header class="mb-16">
				<img
					src="/perfect-bite-slogan.svg"
					alt="Perfect Bite"
					width="360"
					height="68"
				/>
			</header>

			<nav class="grid gap-8">
				<a
					class="border-2 border-gray-800 rounded p-3 text-gray-800 font-bold text-center"
					href="https://instagram.com/perfectbite.nl"
					target="_blank"
					rel="noreferrer"
				>
					Instagram
				</a>
				<a
					class="border-2 border-gray-800 rounded p-3 text-gray-800 font-bold text-center"
					href="https://wa.me/31618717480"
					target="_blank"
					title="whatsapp"
					rel="noreferrer"
				>
					WhatsApp
				</a>
			</nav>
		</main>
	</div>
</Layout>

