---
import Header from "@/components/ui/header/Header.astro";
import Layout from "@/layouts/Layout.astro";
import ProductCard from "@/components/ui/cards/ProductCard.astro";
---

<Layout title="Perfect Bite - Brigadeiros">
  <Header  />
  <div class="mx-auto max-w-screen-lg">
    <main class="mx-4 flex flex-col space-y-4 sm:space-y-8">

      <section>
        <div>
          <ProductCard featured />
        </div>
      </section>

      <section>
        <div>
          <div class="grid grid-cols-1 gap-4 sm:gap-8 sm:grid-cols-2 md:grid-cols-3">
            <ProductCard />
            <ProductCard />
            <ProductCard />
            <ProductCard />
            <ProductCard />
            <ProductCard />
            <ProductCard />
            <ProductCard />
            <ProductCard />
            <ProductCard />
            <ProductCard />
            <ProductCard />
          </div>
        </div>
      </section>

      <section>
        <div>
          <button class="w-full bg-gray-500 text-white py-4 rounded-md">
            <pre>call_to_action</pre>
          </button>
        </div>
      </section>

      <section>
        <div>
          <pre>events</pre>
        </div>
      </section>

    </main>

  </div>
  <footer></footer>
</Layout>
