---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import PerfectBiteSlogamLogo from "../components/PerfectBiteSlogamLogo.astro";

changeLanguage("en");
---

<Layout title="Perfect Bite - Brigadeiros">
  <div class="m-4 flex items-center justify-center">
    <main class="">
      <header class="mb-16 w-full">
        <div>
          <PerfectBiteSlogamLogo />
        </div>
      </header>

      <nav class="grid gap-8">
        <a
          class="border-2 border-gray-800 rounded p-3 text-gray-800 dark:text-white dark:border-white font-bold text-center"
          href="https://instagram.com/perfectbite.nl"
          target="_blank"
          rel="noreferrer"
        >
          Instagram
        </a>
        <a
          class="border-2 border-gray-800 rounded p-3 text-gray-800 dark:text-white dark:border-white font-bold text-center"
          href="https://wa.me/31618717480"
          target="_blank"
          title="whatsapp"
          rel="noreferrer"
        >
          WhatsApp
        </a>
      </nav>
    </main>
  </div>
</Layout>
