---
import Header from "@/components/ui/header/Header.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Perfect Bite - Brigadeiros">
  <Header client:visible />
  <div class="mx-auto max-w-screen-sm">
    <main class="mx-8"></main>
  </div>
</Layout>
