---
import { getCollection } from "astro:content";
import ProductCard from "@/components/ui/cards/ProductCard.astro";
import Header from "@/components/ui/header/Header.astro";
import Layout from "@/layouts/Layout.astro";
import EventCard from "@/components/ui/cards/EventCard.astro";

const flavours = await getCollection("flavours");
const events = await getCollection("events");

// get 6 ramdon items from flavours
const randomFlavours = flavours.sort(() => 0.5 - Math.random()).slice(0, 6);
---

<Layout title="Perfect Bite - Brigadeiros">
  <Header  />
  <div class="mx-auto max-w-screen-lg">
    <main class="mx-4 flex flex-col space-y-4 sm:space-y-12">
      <!-- <section>
        <div>
          <ProductCard featured />
        </div>
      </section> -->

      <section>
        <div>
          <div class="grid grid-cols-1 gap-4 sm:gap-8 sm:grid-cols-2 md:grid-cols-3">
            {randomFlavours.map((flavour) => (
              <ProductCard flavour={flavour.data} />
            ))}
          </div>
        </div>
      </section>

      <section>
        <div class="text-center">
          <a href="/brigadeiros" class="w-full max-w-48 inline-block text-center bg-cream-700 text-white py-4 rounded-md">
            check_all_flavours
          </a>
        </div>
      </section>

      <section>
        <div class="space-y-4">
          <h2 class="uppercase font-thin tracking-widest text-2xl text-center dark:text-cream-200">Upcoming Events</h2>
          <div class="grid grid-cols-1 gap-4 sm:gap-8 sm:grid-cols-2 justify-items-center">
            {events.map((event) => (
              <EventCard event={event.data} />
            ))}
          </div>
        </div>
      </section>

    </main>

  </div>
  <footer></footer>
</Layout>
